<section class="footer_color">
    <div class="footer__nav query_phone">
        <div class="left__contents">
            <div class="content__h3">
                <Strong>Celconsulting</Strong>
                <div class="social__link">
                    <a><i class='bx bxl-facebook'></i></a>
                    <a><i class='bx bxl-instagram' ></i></a>
                    <a><i class='bx bxl-twitter' ></i></a>
                    <a><i class='bx bxl-linkedin' ></i></a>
                </div>

            </div>
        </div>
        <div class="right__contents ">
            <div class="footer__right query_phone">
                <div class="column__nav">
                    <div class="top__text">
                        <span class="strong__text">Un peu ded nous.</span>
                        <div class="mt__list">
                            <a href="">Concept</a>
                            <a href="">Mission</a>
                            <a href="">Objectif</a>
                        </div>
                    </div>
                </div>
                <div class="column__nav">
                    <div class="top__text">
                        <span class="strong__text">Nos solution.</span>
                        <div class="mt__list">
                            <a href="">Notre Engagements</a>
                            <a href="">Notre Engagements</a>
                            <a href="">Notre Engagements</a>
                            <a href="">Notre Engagements</a>
                        </div>
                    </div>
                </div>
                <div class="column__nav">
                    <div class="top__text">
                        <span class="strong__text">La presse</span>
                        <div class="mt__list">
                            <a href="">Blog</a>
                            <a href="">Temoignage</a>
                            <a href="">Nous solution</a>
                        </div>
                    </div>
                </div>

                <div class="column__nav">
                    <div class="top__text">
                        <span class="strong__text">Contact.</span>
                        <div class="mt__list">
                            <a href="">+216 21849822</a>
                            <a href=""> contact@Celconsulting.com</a>
                            <a href="">Lun. Ven 8h30-18h</a>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>