{% extends 'base.html.twig' %}

{% block title %}Celconsulting{% endblock %}

{% block body %}
    <div class="loading">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="content__main">
    <body id="top">
    <section class="about__us">
        <div class="center__element">
        <div class="left__sidebar__text">
            <div class="side__center  ci__up__background">
                <h1>Apropos de celconsulting</h1>
                <span>
                    qui somme nous
                </span>

            </div>
        </div>
            <div class="tight__side__bar">
                <div class="side__center ">
                    <p>

                        Nous sommes un cabinet international de conseil en stratégie qui propose une gamme de services-conseil, de programmes de formation et de systèmes d'aide à la décision dans plusieurs domaines.

                        Le Cabinet d'entrepreneuriat et Leadership détient un réservoir de ressources humaines expert en production de ressources des connaissances et orientations stratégiques et vous offre la possibilité d'être plus meilleur que hier.

                        Nous accompagnons et assistons des agents économiques ainsi que des organisations à croître leur productivité et améliorer leurs activités.
                    </p>
                </div>
            </div>

        </div>

    </section>
    <section class="padd__nt">
    <div class="back__poster">

    </div>
    </section>

    <section class="about__mission">
        <div class="center__element">
            <div class="left__sidebar__text">
                <div class="side__center ">
                    <h1>Apropos de celconsulting</h1>
                    <span>
                    qui somme nous
                </span>

                </div>
            </div>
            <div class="tight__side__bar">
                <div class="side__center">
                    <p>

                        Nous sommes un cabinet international de conseil en stratégie qui propose une gamme de services-conseil, de programmes de formation et de systèmes d'aide à la décision dans plusieurs domaines.

                        Le Cabinet d'entrepreneuriat et Leadership détient un réservoir de ressources humaines expert en production de ressources des connaissances et orientations stratégiques et vous offre la possibilité d'être plus meilleur que hier.

                        Nous accompagnons et assistons des agents économiques ainsi que des organisations à croître leur productivité et améliorer leurs activités.
                    </p>
                </div>
            </div>

        </div>

    </section>

    </body>
    {% include'home/_footer.html.twig' %}
{% endblock %}