{% extends 'base.html.twig' %}

{% block title %}Celconsulting{% endblock %}


{% block body %}
    <style>
        /*-----------------------------------*\
  #foodhub.css
\*-----------------------------------*/

        /**
         * copyright 2022 @codewithsadee
         */





        /*-----------------------------------*\
          #CUSTOM PROPERTY
        \*-----------------------------------*/

        :root {

            /**
             * colors
             */

            --red-orange-crayola: hsl(0, 100%, 66%);
            --space-cadet: hsl(249, 37%, 19%);
            --pistachio: hsl(88, 50%, 60%);
            --cultured: hsl(220, 13%, 95%);
            --saffron: hsl(45, 91%, 58%);
            --rhythm: hsl(240, 9%, 51%);
            --white: hsl(0, 0%, 100%);

            /**
             * typography
             */

            --fs-1: 46px;
            --fs-2: 28px;
            --fs-3: 18px;
            --fs-4: 15px;
            --fs-5: 14px;

            /**
             * spacing
             */

            --px: 30px;
            --py: 60px;

            /**
             * others
             */

            --default-transition: 0.75s ease;

        }





        /*-----------------------------------*\
          #RESET
        \*-----------------------------------*/

        *, *::before, *::after {
            margin:  0;
            padding: 0;
            box-sizing: border-box;
            outline-offset: 5px;
        }

        li { list-style: none; }

        a {
            font: inherit;
            text-decoration: none;
        }

        button {
            font: inherit;
            border: none;
            background: none;
            cursor: pointer;
        }

        img, svg, ion-icon, span, button { display: block; }

        html {
            font-family: "Rubik", sans-serif;
            scroll-behavior: smooth;
        }

        ::-webkit-scrollbar { width: 5px; }

        ::-webkit-scrollbar-track { background: var(--cultured); }

        ::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background: var(--saffron);
        }

        ::-webkit-scrollbar-thumb:hover { background: var(--space-cadet); }










        /*-----------------------------------*\
          #MAIN CONTAINER
        \*-----------------------------------*/








        .shape {
            position: absolute;
            filter: drop-shadow(0px 3px 6px hsla(0, 0%, 0%, 0.1));
        }

        .shape-1 {
            top:  0;
            left: 5%;
            animation: scaleUp 2s 3s ease-in-out infinite;
        }

        .shape-2 {
            right: 0;
            top:  55%;
            animation: scaleUp 3s 4s ease-in-out infinite;
        }

        .shape-3{
            bottom: 5%;
            left:   5%;
            animation: scaleUp 3s 1s ease-in-out infinite;
        }

        .shape-4 {
            top:  35%;
            right: 0;
            animation: moveUp 3s 1s ease-in-out infinite;
        }

        .shape-5 {
            top: 60%;
            left: 0;
            animation: moveUp 3s ease-in-out infinite;
        }


        @keyframes scaleUp {

            0%,
            100% { transform: translateY(0) scale(1); }

            50% { transform: translateY(-5px) scale(1.05);}

        }


        @keyframes moveUp {

            0%,
            100% { transform: translateY(0); }
            20%  { transform: translateY(-3px); }
            50%  { transform: translateY(-8px); }

        }





        /*-----------------------------------*\
          #ABOUT
        \*-----------------------------------*/

        .about {
            padding: var(--py) var(--px);
            display: grid;
            grid-template-columns: 3fr 4fr;
            gap: 60px;
        }
        .about{
            max-width:1150px;
            margin: auto;
        }

        .about-left { position: relative; }

        .about-left .img-box {
            aspect-ratio: 1 / 1;
            overflow: hidden;
        }

        .about-img {
            width:  100%;
            height: 100%;
            object-fit: cover;
            animation: lazy-scaleUp 30s linear infinite;
        }


        @keyframes lazy-scaleUp {

            0%,
            100% { transform: scale(1); }
            50%  { transform: scale(1.2); }

        }


        .abs-content-box {
            background: var(--white);
            position: absolute;
            bottom: -20px;
            right:  -20px;
            padding: 30px;
            text-align: center;
            box-shadow: 2px 2px 10px hsla(0, 0%, 0%, 0.1);
        }

        .dotted-border {
            border: 3px dotted var(--cultured);
            padding: 10px;
        }

        .number-lg {
            font-size: var(--fs-1);
            font-family: "Monoton", cursive;
            color: var(--space-cadet);
        }

        .text-md {
            font-size: var(--fs-3);
            font-weight: 600;
            color: var(--space-cadet);
        }

        .shape-6 {
            right: -9px;
            top:   35%;
            animation: scaleUp 2s 3s ease-in-out infinite;
        }

        .shape-7 {
            top:   50%;
            left: -15px;
            animation: scaleUp 3s ease-in-out infinite;
        }

        .shape-8 {
            top: -10px;
            left: 15%;
            animation: moveUp 3s 1s ease-in-out infinite;
        }



        .shape-9 {

            bottom: 65px;
            left: 82%;
            animation: moveUp 3s ease-in-out infinite;

        }

        .about-right .section-title { margin-bottom: 30px; }

        .about-right p {
            max-width: 100%;
            margin-bottom: 30px;
        }

        .about-right .section-title {
            margin-bottom: 30px;
        }

        .section-title {
            max-width: 420px;
            color: var(--space-cadet);
            font-size: var(--fs-2);
            font-weight: 600;
        }
        .about-right p {
            max-width: 100%;
            margin-bottom: 30px;
        }
        .section-text {
            max-width: 320px;
            color: var(--rhythm);
            font-size: var(--fs-4);
            line-height: 1.4;
            letter-spacing: 0.5px;
        }
        .about-left { position: relative; }

        .about-left .img-box {
            aspect-ratio: 1 / 1;
            overflow: hidden;
        }

        .about-img {
            width:  100%;
            height: 100%;
            object-fit: cover;
            animation: lazy-scaleUp 30s linear infinite;
        }
        .story__about{
            margin: auto;
            max-width: 1150px;
            padding: var(--py) var(--px);
            display: grid;
            grid-template-columns: 3fr 4fr;
            gap: 60px;
        }


        .text__story{
            margin-bottom: 30px;
        }

        .text__story p{
            font-size: 28px;
            line-height: 44px;
            letter-spacing: -.5px;
        }
        .left__content{
            position: relative;
        }
        .right__content{
            margin-top: -103px;
        }





        .concept-2__words {
            padding-left: 29px;
        }

        .concept-2__words {
            padding-left: 51px;
        }
        .concept-2__words {
            padding-left: 27px;
            margin-bottom: 168px;
        }

        .concept-2__word {
            font-size: 90px;
            line-height: 90px;
            background-position: 0 -90px;
            background-size: 100% 180px;
        }
        .concept-2__word {
            position: relative;
            font-family: "gordita-bold",sans-serif;
            font-size: 5vw;
            letter-spacing: -1px;
            background-image: -webkit-linear-gradient(#19806d 50%,#e7e7e7 50%);
            background-repeat: repeat;
            background-position: 0 -50px;
            background-size: 100% 100px;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
        }

        .box__img__dr{
            width: 70%;
            height: 400px;
            background-color: #00acee;
        }


        .box__img__dr img{
            width: 100%;
        }
        .story_up{
            background-color: #3b5998;
            height: 680px;
        }
        .up__text__info h2{
            font-size: 11px;
            color: #dfdfdf;
        }
        .up__text__info h5{
            font-size: 18px;
            color: #000;
        }
        .info__text_up p{
            margin-top: 20px;
            margin-bottom: 60px;
            font-size: 18px;
            color: #fff;
        }
        strong{
            font-size: 15px;
            text-transform: uppercase;
        }
        .up_mission{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap:1.2rem;
        }

        .service-card .card-number {
            font-size: 42px;
            font-family: "Monoton", cursive;
            color: var(--saffron);
        }


    </style>
    <div class="content__main">
        <div class="header__home about__xl">
            <div class="linter">
                <div class="logo">
                    <a href="{{ path('app_home') }}">Celconsulting</a>
                </div>
                <div class="nav__ul">
                    <a href="{{ path('app_home') }}" class="re__ixl"> &#8592;&nbsp;Retour</a>
                </div>
            </div>
        </div>
        <div class="wrapper__slide">
            <div class="hero__text__lite">
                <h2>Domaines D'expertises.</h2>
                <span class="pt__dlx">Domaines</span>
            </div>

        </div>
        <main>

            <div class="container__about">
                <section class="about" id="about">

                    <div class="about-left">

                    </div>

                    <div class="about-right">
                        <div class="xl__klu">

                            <h2 class="section-title">Domaines d'expertises</h2>

                            <p class="section-text">
                                CEL consulting est un cabinet international leader sur le marché africain en développement des compétences et services aux organismes (entreprises et administrations) ainsi que des particuliers dans les domaines de formation et accompagnement, d’audit, conseil et coaching ainsi que technologique et digital.
                            </p>
                        </div>



                    </div>

                </section>
                <section class="service">
                    <div class="content__bxlk">
                        <div class="seller">
                            <div class="blx__our">
                                <h1>FORMATIONS ET ACCOMPAGNEMENT</h1>
                                <h6>01</h6>
                                <p>FORMATIONS INDIVIDUELLES</p>
                                <p>FORMATIONS PROFESSIONNELLES</p>
                                <p>FORMATIONS INSTITUTIONNELLES</p>
                            </div>
                            <div class="blx__our">
                                <h1>AUDIT ET CONSEILS </h1>
                                <h6>02</h6>

                                <p>MARKETING DIGITAL</p>
                                <p>RESSOURCES HUMAINES </p>
                                <p>CREATION D’ENTREPRISE</p>
                            </div>
                            <div class="blx__our">

                                <h1>COACHING </h1>
                                <h6>03</h6>
                                <p>DEVELOPPEMENT PERSONNEL</p>
                                <p>DEVELOPPEMENT PROFESSIONNEL</p>
                                <p>COMMUNICATION ET PRISE DE PAROLE EN PUBLIC</p>

                            </div>
                            <div class="blx__our">

                                <h1>NVESTISSEMENT </h1>
                                <h6>04</h6>
                                <p>BUSINESS ANGELC</p>
                                <p>CLUB DEAL IMMO</p>
                                <p>INVESTISSEMENT START-UP </p>

                            </div>
                        </div>
                    </div>

                </section>
                <section>

                </section>

            </div>



            {% include'home/_footer.html.twig' %}
        </main>
    </div>

    <div class="loading">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>


{% endblock %}