{% extends 'base.html.twig' %}

{% block title %}Celconsulting{% endblock %}

{% block body %}
    <div class="loading">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="content__main">
    <body id="top">
    <div class="header__tome">
        <div class="linner__header__tome">
            <logo>
                <picture>
                    <img src="" alt="">
                </picture>
            </logo>
            <ul>
                <li><a href="">Formation.</a></li>
                <li><a href="">Apropos De Nous.</a></li>
                <li><a href="">Domaines D'expertises.</a></li>
                <li><a href="">Contact.</a></li>
            </ul>
        </div>
    </div>
    <section class="formation__home expand__home">
        <div class="oblog__up img___oblog"></div>
        <div class="oblog__down"></div>
        <div class="oblog__midlle"></div>
        <div class="oblog__bm"></div>
        <div class="oblog__lf"></div>
        <div class="formation__section">
            <div class="left__formation__section">
                <div class="liner___element xlkb">
                    <div>
                        <p>
                        <h5 class="holl__up_text">Domaines d’expertise</h5>
                        <br>
                        <span class="up_text">
                             Leader sur le marché africain en développement des compétences <br>et services aux organismes
                        </span>
                        </p>

                        <p>(entreprises et administrations) ainsi que des particuliers dans les domaines de formation et accompagnement, d’audit, conseil et coaching ainsi que technologique et digital.</p>
                    </div>
                </div>
            </div>
            <div class="right__formation__section">
                <div class="imgb__r">
                    <figure>
                        <picture>
                        </picture>
                    </figure>
                </div>


            </div>
        </div>
    </section>
    <section class="exer__home">
        <h2 class="title-h2 holl__up_text">nos savoir-faire</h2>
        <div class="listing__exp">
            <li class="forces-element">
                <span class="forces-element__number">1</span>
                <div class="forces-element__text">
                    <h4 class="subtitle subtitle--forces">FORMATIONS ET ACCOMPAGNEMENT</h4>
                    <ul>
                        <li>&bull;&nbsp;FORMATIONS PROFESSIONNELLES </li>
                        <li>&bull; FORMATIONS INSTITUTIONNELLES </li>
                        <li>&bull;&nbsp;FORMATIONS INDIVIDUELLES</li>
                        <li>&bull;&nbsp;INTELLIGENCE ARTIFICIELLE </li>
                        <li>&bull;&nbsp;DEVELOPPEMENT WEB ET MOBILE</li>
                    </ul>
                </div>
            </li>
            <li class="forces-element">
                <span class="forces-element__number">2</span>
                <div class="forces-element__text">
                    <h4 class="subtitle subtitle--forces">AUDIT ET CONSEILS </h4>
                    <ul>
                        <li>&bull;&nbsp;CREATION D’ENTREPRISE</li>
                        <li>&bull;&nbsp;MANAGEMENT ET INNOVATION</li>
                        <li>&bull;&nbsp;RESSOURCES HUMAINES </li>
                        <li>&bull;&nbsp;MARKETING ET IMAGE DE MARQUE </li>
                        <li>&bull;&nbsp;MARKETING DIGITAL </li>
                        <li>&bull;&nbsp;COMPTABILITE ET FINANCES </li>
                        <li>&bull;&nbsp;NETWORKING ET B2B</li>
                    </ul>
                </div>
            </li>
            <li class="forces-element">
                <span class="forces-element__number">3</span>
                <div class="forces-element__text">
                    <h4 class="subtitle subtitle--forces">
                        INTELLIGENCE ARTIFICIELLE DEVELOPPEMENT WEB ET MOBILE
                    </h4>
                    <ul>
                        <li>&bull;&nbsp;le management</li>
                        <li>&bull;&nbsp;Les RH&nbsp;&&nbsp;l’informatique</li>
                        <li>&bull;&nbsp;l’intelligence artificielle&nbsp;&&nbsp;le marketing</li>
                        <li>&bull;&nbsp;la comptabilité&nbsp;&&nbsp;marketing digital</li>
                        <li>&bull;&nbsp;l’entrepreneuriat&nbsp;la Finance&nbsp;&&nbsp;banque</li>
                        <li>&bull;&nbsp;le transport&nbsp;&&nbsp;logistique</li>
                        <li>&bull;&nbsp;l’assurance&nbsp;&&nbsp;le commerce international…</li>
                    </ul>
                </div>
            </li>
            <li class="forces-element">
                <span class="forces-element__number">4</span>
                <div class="forces-element__text">
                    <h4 class="subtitle subtitle--forces">NETWORKING ET B2B</h4>
                    <ul>
                        <li>&bull;&nbsp;le management</li>
                        <li>&bull;&nbsp;Les RH&nbsp;&&nbsp;l’informatique</li>
                        <li>&bull;&nbsp;l’intelligence artificielle&nbsp;&&nbsp;le marketing</li>
                        <li>&bull;&nbsp;la comptabilité&nbsp;&&nbsp;marketing digital</li>
                        <li>&bull;&nbsp;l’entrepreneuriat&nbsp;la Finance&nbsp;&&nbsp;banque</li>
                        <li>&bull;&nbsp;le transport&nbsp;&&nbsp;logistique</li>
                        <li>&bull;&nbsp;l’assurance&nbsp;&&nbsp;le commerce international…</li>
                    </ul>
                </div>
            </li>
        </div>
        <div class="formation__section relative__blk">
            <div class="blk__bull Oblong-01"></div>
            <div class="blk__bull Oblong-02"></div>
            <div class="blk__bull Oblong-03"></div>
            <div class="blk__bull Oblong-04"></div>
            <div class="blk__bull Oblong-05"></div>
            <div class="blk__bull Oblong-06"></div>

        </div>
    </section>
    <section class="nav-padding">
        <div class="absolute">
            <div class="station__absolute">
             <div class="left__station__absolute">
                 <div class="lkd__absolute">
                     <h1>Prêt pour écrire votre success story ?</h1>
                     <p>Vous pouvez compter sur notre équipe de direction pour soutenir votre projet de bout en bout.
                         Contactez notre équipe d’experts.
                     </p>
                 </div>

             </div>
                <div class="right__station__absolute">
                    <div>
                        .

                     </div>
                </div>
            </div>
        </div>
    </section>

    {% include'home/_footer.html.twig' %}

    </body>
{% endblock %}