{% extends 'base.html.twig' %}

{% block title %}Celconsulting{% endblock %}

{% block body %}

    <div class="loading">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="content__main">
    <div class="header__home">
        <div class="linter">
            <div class="logo">
                <a href="{{ path('app_home') }}">Celconsulting</a>
            </div>
            <div class="nav__ul">
                <a href="{{ path('app_home') }}" class="re__ixl"> &#8592;&nbsp;Retour</a>
            </div>
        </div>
    </div>
    <div class="wrapper__slide">
        <div class="hero__text__lite">
            <h2>Formation.</h2>
            <span>Formation</span>
        </div>

    </div>
    <section class="">
        <div class="container__xyl">
            <div class="story__about">
                <div class="main__left">
                    <h6>Apprendre grâce à  <br><strong> plusieurs formats</strong></h6>
                    <p>Vous êtes à la recherche une  formation professionnelle ? Un cabinet de formation et consulting spécialiste en études techniques? Notre cabinet de formation en Tunisie , au niveau des études techniques touche différents domaines qui débouchent sur un ensemble de recommandation et plans d’actions que la maîtrise d’ouvrage pourra suivre pour réaliser les objectifs demandées de votre entreprise. </p><br>
                    <p>Étant un cabinet spécialisée en la gestion de ressources humaines (RH), Celconsulting considère la formation comme un levier de compétitivité puisqu’elle permet aux personnes concernées d’avoir les capacités et les aptitudes nécessaires à l’exercice de leur activité professionnelle. Justement, le cabinet  world training et consulting, vous propose des cycles de formation pour l’acquisition des capacités et aptitudes nécessaires à l’exercice d’une activité professionnelle exigée par l’entreprise. </p>

                </div>
                <div class="main__right">
                    <h6>Types de formation professionnelle: Techniques et Managériales</h6>

                    <p>En liaison directe avec d’autres aspects de la gestion des ressources humaines, WTC considère la formation professionnelle comme un levier de compétitivité puisqu’elle permet aux personnes concernées d’avoir les capacités et les aptitudes nécessaires à l’exercice de leur activité professionnelle. Pour cela, WTC propose des cycles de formation pour l’acquisition des capacités et aptitudes nécessaires à l’exercice d’une activité professionnelle exigée par l’entreprise. WTC propose deux types de formations : techniques et managériales.</p>
                </div>
            </div>
        </div>
    </section>

    <section>
    <div class="rows__tex__up">
        <h5>Formations longue</h5>
        <h6>Nous sommes prêts à libérer votre potentie</h6>
    </div>
    <div class="story__about__jkl__gh">
        <div class="box__kl">
            <h3>Trois métiers complémentaires</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci blanditiis cumque dolorum error ipsum officiis omnis quia quod repellat sapiente. Aperiam cum debitis dolorem excepturi facilis ipsum maxime, nulla odio.</p>
        </div>
        <div class="box__kl">
            <h3>Trois métiers complémentaires</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci blanditiis cumque dolorum error ipsum officiis omnis quia quod repellat sapiente. Aperiam cum debitis dolorem excepturi facilis ipsum maxime, nulla odio.</p>
        </div>
        <div class="box__kl">
            <h3>Trois métiers complémentaires</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci blanditiis cumque dolorum error ipsum officiis omnis quia quod repellat sapiente. Aperiam cum debitis dolorem excepturi facilis ipsum maxime, nulla odio.</p>
        </div>
        <div class="box__kl">
            <h3>Trois métiers complémentaires</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci blanditiis cumque dolorum error ipsum officiis omnis quia quod repellat sapiente. Aperiam cum debitis dolorem excepturi facilis ipsum maxime, nulla odio.</p>
        </div>
        <div class="box__kl">
            <h3>Trois métiers complémentaires</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci blanditiis cumque dolorum error ipsum officiis omnis quia quod repellat sapiente. Aperiam cum debitis dolorem excepturi facilis ipsum maxime, nulla odio.</p>
        </div>
        <div class="box__kl">
            <h3>Trois métiers complémentaires</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci blanditiis cumque dolorum error ipsum officiis omnis quia quod repellat sapiente. Aperiam cum debitis dolorem excepturi facilis ipsum maxime, nulla odio.</p>
        </div>
    </div>

    </section>

    <section>
        <div class="rows__tex__up">
            <h5>Formations Courte</h5>
            <h6>Nous sommes prêts à libérer votre potentie</h6>
        </div>
        <div class="story__about__jkl__gh">
            <div class="box__kl">
                <h3>Trois métiers complémentaires</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci blanditiis cumque dolorum error ipsum officiis omnis quia quod repellat sapiente. Aperiam cum debitis dolorem excepturi facilis ipsum maxime, nulla odio.</p>
            </div>
            <div class="box__kl">
                <h3>Trois métiers complémentaires</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci blanditiis cumque dolorum error ipsum officiis omnis quia quod repellat sapiente. Aperiam cum debitis dolorem excepturi facilis ipsum maxime, nulla odio.</p>
            </div>
            <div class="box__kl">
                <h3>Trois métiers complémentaires</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci blanditiis cumque dolorum error ipsum officiis omnis quia quod repellat sapiente. Aperiam cum debitis dolorem excepturi facilis ipsum maxime, nulla odio.</p>
            </div>
            <div class="box__kl">
                <h3>Trois métiers complémentaires</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci blanditiis cumque dolorum error ipsum officiis omnis quia quod repellat sapiente. Aperiam cum debitis dolorem excepturi facilis ipsum maxime, nulla odio.</p>
            </div>
            <div class="box__kl">
                <h3>Trois métiers complémentaires</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci blanditiis cumque dolorum error ipsum officiis omnis quia quod repellat sapiente. Aperiam cum debitis dolorem excepturi facilis ipsum maxime, nulla odio.</p>
            </div>
            <div class="box__kl">
                <h3>Trois métiers complémentaires</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci blanditiis cumque dolorum error ipsum officiis omnis quia quod repellat sapiente. Aperiam cum debitis dolorem excepturi facilis ipsum maxime, nulla odio.</p>
            </div>
        </div>

    </section>
    {% include'home/_footer.html.twig' %}
    </div>

{% endblock %}