{% extends 'base.html.twig' %}

{% block title %}Celconsulting{% endblock %}

{% block body %}
<section>
    <div class="jumbotron">
        <div class="liner__element">
        <div class="xlx__left__content">
            <h4 class="wel__xl">bienvenue dans notre panoplie de formation</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam consectetur corporis cumque deserunt, dignissimos ducimus earum incidunt maiores minus necessitatibus nihil perferendis porro quam qui reprehenderit sed sint, voluptate?
            </p>

        </div>
        <div class="xlx__right__content">
       <div class="bounce"></div>
       <div class="bounce"></div>
       <div class="bounce"></div>
       <div class="bounce"></div>
        </div>
        </div>

    </div>
</section>
{% endblock %}