{% extends 'base.html.twig' %}

{% block title %}Celconsulting{% endblock %}

{% block body %}
    <div class="loading">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="content__main">
    <body id="top" style="overflow:hidden !important;">


    <section class="nose-btn">
        <div class="admin__panel">
           <div class="linner__xlj" style="overflow:hidden !important;">
            <div class="left">
                <div class="admin__element">
                    <ul>
                        <li><a href="" class="sidebar">Formation</a><i class='bx bxs-graduation'></i></li>
                        <li><a href="" class="sidebar">Event</a><i class='bx bxs-megaphone'></i></li>
                        <li><a href="" class="sidebar">Liste d'utilisateur</a><i class='bx bx-user-plus'></i></li>
                        <li><a href="" class="sidebar">accueil</a><i class='bx bx-user-plus'></i></li>
                    </ul>
                </div>

                <div class="admin__element lof">
                    <ul>
                        <li><a href="" class="sidebar">Deconnexion</a><i class='bx bx-log-out-circle'></i></li>
                    </ul>
                </div>
            </div>
           <div class="right">

               <div class="main__info" style="overflow-y:hidden !important;">
                   <div class="card__info">
                       <div class="card__single">
                           <h1>nombres de message</h1>
                           <span>50</span>
                       </div>
                       <div class="card__single">
                           <h1>nombres de message</h1>
                           <span>50</span>
                       </div>
                       <div class="card__single">
                           <h1>nombres de message</h1>
                           <span>50</span>
                       </div>
                       <div class="card__single">
                           <h1>nombres de message</h1>
                           <span>50</span>
                       </div>
                   </div>
                   <div class="liste__card">
                       <div class="liste__card__left">
                           <div>
                               <div class="head__liste">
                                   <div class="linner__liste">
                                       <h1>formation publier recement</h1>
                                       <div><a href="">voir tout</a></div>
                                   </div>

                               </div>

                               <table>
                                   <thhead>
                                       <th>Titre</th>
                                       <th>Description</th>
                                       <th>Date</th>
                                       <th>Durée</th>
                                   </thhead>
                                   <tbody>
                                   <tr>
                                       <td>g</td>
                                       <td>g</td>
                                       <td>g</td>
                                       <td>g</td>
                                   </tr>

                                   <tr>
                                       <td>g</td>
                                       <td>g</td>
                                       <td>g</td>
                                       <td>g</td>
                                   </tr>


                                   </tbody>
                               </table>
                           </div>



                           <div>
                               <div class="head__liste">
                                   <div class="linner__liste">
                                       <h1>formation publier recement</h1>
                                       <div><a href="">voir tout</a></div>
                                   </div>

                               </div>

                               <table>
                                   <thhead>
                                       <th>Titre</th>
                                       <th>Description</th>
                                       <th>Date</th>
                                       <th>Durée</th>
                                   </thhead>
                                   <tbody>
                                   <tr>
                                       <td>g</td>
                                       <td>g</td>
                                       <td>g</td>
                                       <td>g</td>
                                   </tr>

                                   <tr>
                                       <td>g</td>
                                       <td>g</td>
                                       <td>g</td>
                                       <td>g</td>
                                   </tr>


                                   </tbody>
                               </table>
                           </div>
                           <div>
                               <div class="head__liste">
                                   <div class="linner__liste">
                                       <h1>formation publier recement</h1>
                                       <div><a href="">voir tout</a></div>
                                   </div>

                               </div>

                               <table>
                                   <thhead>
                                       <th>Titre</th>
                                       <th>Description</th>
                                       <th>Date</th>
                                       <th>Durée</th>
                                   </thhead>
                                   <tbody>
                                   <tr>
                                       <td>g</td>
                                       <td>g</td>
                                       <td>g</td>
                                       <td>g</td>
                                   </tr>

                                   <tr>
                                       <td>g</td>
                                       <td>g</td>
                                       <td>g</td>
                                       <td>g</td>
                                   </tr>


                                   </tbody>
                               </table>
                           </div>

                       </div>

                       <div class="liste__card__right">
                         Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci amet, consequuntur culpa cupiditate, delectus ducimus ex facilis necessitatibus nisi odit perspiciatis quis similique suscipit veritatis. Aut officia porro quod!
                       </div>
                   </div>

               </div>
           </div>
           </div>
        </div>
    </section>
    </body>
{% endblock %}